In [1]:
import pandas as pd
from bq_helper import BigQueryHelper
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="D:\PycharmProjects\Stack-e63c482829a8.json"

In [2]:
from google.cloud import bigquery
client = bigquery.Client()

In [3]:
query1 = """SELECT
  EXTRACT(YEAR FROM creation_date) AS Year,
  COUNT(*) AS Number_of_Questions,
  SUM(answer_count) AS Answered_Questions
FROM
  `bigquery-public-data.stackoverflow.posts_questions`
GROUP BY
  Year
HAVING
  Year > 2008 AND Year <= 2018
ORDER BY
  Year; """

In [4]:
data = pd.read_gbq(query = query1, project_id = 'stack-240915', dialect = 'standard')

In [5]:
data.head()

   Year  Number_of_Questions  Answered_Questions
0  2009               343139             1148668
1  2010               693332             1722921
2  2011              1198587             2532982
3  2012              1642687             3008800
4  2013              2056613             3407852

In [6]:
bq_assistant = BigQueryHelper("bigquery-public-data", "openaq")

In [7]:
stackOverflow = BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="stackoverflow")

In [8]:
bq_assistant = BigQueryHelper("bigquery-public-data", "stackoverflow")
bq_assistant.list_tables()

['badges',
 'comments',
 'post_history',
 'post_links',
 'posts_answers',
 'posts_moderator_nomination',
 'posts_orphaned_tag_wiki',
 'posts_privilege_wiki',
 'posts_questions',
 'posts_tag_wiki',
 'posts_tag_wiki_excerpt',
 'posts_wiki_placeholder',
 'stackoverflow_posts',
 'tags',
 'users',
 'votes']

In [9]:
bq_assistant.head("comments", num_rows=20)

,id,text,creation_date,post_id,user_id,user_display_name,score
0,65933382,No I want to prevent the code from showing up,2016-09-02 19:41:16.603000+00:00,39299619,954867,,0
1,93651494,@Steve also `return false` at the end of funct...,2018-11-20 07:24:05.277000+00:00,53388002,3161029,,0
2,57760376,"Awesome, thanks!",2016-01-26 15:01:01.987000+00:00,1413201,202449,,1
3,21807801,"There can be many more exceptions, question is...",2013-03-14 22:08:04.287000+00:00,15416092,1532059,,0
4,95869879,use your viewholder object,2019-02-05 12:17:22.083000+00:00,54532708,1629397,,0
5,40192238,diceImage is a jLabel,2014-09-07 15:27:18.800000+00:00,25711731,4016776,,0
6,80777894,Please see the edited answer.,2017-10-24 16:12:29.030000+00:00,46903971,2986905,,0
7,72716694,See edit in answer above.,2017-03-15 05:10:58.973000+00:00,42778126,7607190,,0
8,63357199,Of possible value: http://stackoverflow.com/a/...,2016-06-21 20:54:15.390000+00:00,37951969,425871,,0
9,43398908,You might also want to look at a python implem...,2014-12-15 11:43:45.920000+00:00,17218875,2259400,,0
10,22196537,"MouseDown and MouseUp take a MouseEventArgs, s...",2013-03-26 17:28:28.670000+00:00,15642922,480937,,0
11,23871430,<b>yes it is null</b>,2013-05-17 09:57:09.237000+00:00,16606034,2354595,,0
12,86625566,This is the url: `https://turtle-coin.com/q/ha...,2018-04-12 20:30:15.773000+00:00,49805299,8627570,,0
13,28304566,@vishalkin How is this related to Stack Overfl...,2013-10-02 13:39:34.067000+00:00,19138074,502381,,0
14,86623801,"Try to perform the transaction. If it fails, r...",2018-04-12 19:36:51.263000+00:00,49803761,505088,,0
15,65168554,"@MariaGomezCliment missed to add Ryu, Ryu is d...",2016-08-11 19:50:58.373000+00:00,38844281,1279145,,0
16,14655571,Your foreach statement is using the variable $...,2012-06-23 18:14:01.707000+00:00,11171625,751619,,0
17,44972497,the problem I found was my key had expired. W...,2015-02-03 23:35:03.213000+00:00,28241456,3035713,,0
18,59066752,"@fge It's a typo, should be **N2**.",2016-02-29 08:30:55.293000+00:00,35694532,3809822,,0
19,36756231,"`""I just felt that the...""` - You can test thi...",2014-05-26 21:06:14.033000+00:00,23877686,328193,,2

In [10]:
%load_ext google.cloud.bigquery

In [11]:
%%bigquery
SELECT U.display_name, U.age, H.*
FROM `bigquery-public-data.stackoverflow.users` AS U
LEFT JOIN `bigquery-public-data.stackoverflow.post_history` AS H ON U.id = H.user_id
LIMIT 3

,display_name,age,id,creation_date,post_id,post_history_type_id,revision_guid,user_id,text,comment
0,ErikE,,12894791,2011-05-11 18:10:36.383000+00:00,5968632,5,ef014bcb-b518-4fc2-bfe1-b8fa721d36c8,57611,"I know what a (for example) `DWORD` is, it's a...",edited tags; added 14 characters in body; edit...
1,pmdj,,14042147,2011-06-23 08:01:27.360000+00:00,6450955,5,7a1b5982-3773-4231-85a3-4bed02c92055,48660,Have you set the MPMoviePlayerController's `vi...,added 120 characters in body; added 7 characte...
2,Francis Cugler,,101034461,2015-10-04 05:09:04.880000+00:00,32894003,5,cad19e3c-f987-4767-9bae-36d9882568d8,1757805,You showed this and asked:\r\n\r\n> Here's a g...,Added a few more statements for the reader to ...

In [19]:
%%bigquery
SELECT
EXTRACT(YEAR FROM creation_date) AS Year,
COUNT(*) AS Number_of_Questions,
SUM(answer_count) AS Answered_Questions,
SUM(comment_count) AS Commented_Questions,
SUM(view_count) AS Viewed_Questions
FROM
  `bigquery-public-data.stackoverflow.posts_questions`
GROUP BY
  Year
HAVING
  Year > 2008 AND Year <= 2018
ORDER BY Year;

,Year,Number_of_Questions,Answered_Questions,Commented_Questions,Viewed_Questions
0,2009,343139,1148668,330736,3919252629
1,2010,693332,1722921,781819,4720639068
2,2011,1198587,2532982,1720576,6074645873
3,2012,1642687,3008800,2835891,6181353632
4,2013,2056613,3407852,4109474,6041091935
5,2014,2160361,3171678,4584691,3579448841
6,2015,2214389,3042724,4892864,2535756160
7,2016,2219199,2907726,4961269,1839466919
8,2017,2137687,2656670,4906190,1155925578
9,2018,2168086,2234168,4510917,393387513

In [17]:
%%bigquery
SELECT
*, SPLIT( tags , '|' )  
FROM
  `bigquery-public-data.stackoverflow.posts_questions`
LIMIT 10

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,post_type_id,score,tags,view_count,f0_
0,16763947,Is it possible to store a word that a user inp...,<p>I'm working on a program that encodes a sen...,16764137.0,1,12,None,2013-05-26 21:42:45.300000+00:00,NaN,2013-05-26 22:28:09.387000+00:00,2013-05-26 21:48:51.597000+00:00,,2419691.0,,2419691.0,1,0,c++|visual-c++|character|ascii,303,"[c++, visual-c++, character, ascii]"
1,51370182,javac: incompatible types: Mono<Object> cannot...,<p>Could anyone explain why the <code>mono1()<...,NaN,0,6,None,2018-07-16 21:12:44.800000+00:00,NaN,2018-07-16 21:22:36.817000+00:00,2018-07-16 21:22:36.817000+00:00,,319878.0,,319878.0,1,1,java|eclipse|maven|mono|project-reactor,208,"[java, eclipse, maven, mono, project-reactor]"
2,53467498,Listener for single value event executing mult...,"<pre><code>sqlite = mDatabaseReference.child(""...",NaN,0,1,None,2018-11-25 12:35:24.557000+00:00,NaN,2018-11-25 15:15:51.577000+00:00,2018-11-25 15:15:51.577000+00:00,,209103.0,user10643013,NaN,1,1,android|firebase|firebase-realtime-database,34,"[android, firebase, firebase-realtime-database]"
3,16858107,fancybox 2 on internet explorer 10 inexpected ...,<p>I am using fancybox 2 and using it to creat...,NaN,1,3,None,2013-05-31 13:10:46.653000+00:00,NaN,2013-10-04 16:24:35.810000+00:00,2013-05-31 15:36:20.323000+00:00,,1230959.0,,1230959.0,1,0,jquery|fancybox,1103,"[jquery, fancybox]"
4,53369537,Configure VSCode include path,<p>I use VSCode to edit Xilinx SDK files. The ...,NaN,0,2,None,2018-11-19 06:42:12.373000+00:00,NaN,2018-12-27 13:05:33.653000+00:00,2018-12-27 13:05:33.653000+00:00,,2631715.0,,266487.0,1,3,visual-studio-code|vscode-settings,236,"[visual-studio-code, vscode-settings]"
5,38562858,How to create Mapping rules for custom entitie...,<p>I am new to Entity framework.I got an oppor...,NaN,1,0,None,2016-07-25 08:25:01.650000+00:00,NaN,2016-07-25 08:46:01.850000+00:00,NaT,,NaN,,3883423.0,1,0,entity-framework|entity-framework-6,685,"[entity-framework, entity-framework-6]"
6,54196013,Python Loop repeat the process over and over a...,<p>i'm new to web development and i'm testing ...,54196276.0,1,0,None,2019-01-15 09:29:30.870000+00:00,NaN,2019-01-15 09:47:04.297000+00:00,2019-01-15 09:47:04.297000+00:00,,196206.0,,10898791.0,1,0,python|python-3.x,48,"[python, python-3.x]"
7,45074640,"How to give feedback ""not found"" when listview...",<p>this is the coding for insert data to my li...,45076967.0,1,1,None,2017-07-13 07:55:02.570000+00:00,NaN,2017-07-13 09:43:23.027000+00:00,2017-07-13 08:57:18.820000+00:00,,8082045.0,,8082045.0,1,2,listview|ms-access|vb6,39,"[listview, ms-access, vb6]"
8,9536388,capture pid of terminated background process u...,<p>I'm writing a bash script that spawns a num...,9538073.0,1,4,None,2012-03-02 16:00:19.980000+00:00,1.0,2017-04-11 08:10:19.873000+00:00,2017-05-23 11:46:36.667000+00:00,,-1.0,,366856.0,1,5,bash|unix|signals|child-process|bash-trap,5632,"[bash, unix, signals, child-process, bash-trap]"
9,22915149,Connecting to a specific Server Ip with Socket.io,<p>I have to build a crossplatform web app for...,22915952.0,1,0,None,2014-04-07 14:20:55.440000+00:00,3.0,2014-04-07 14:54:15.657000+00:00,NaT,,NaN,,2166296.0,1,3,node.js|sockets|cordova,15391,"[node.js, sockets, cordova]"